<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="outlookBg/Common.css">
        <style>
               body {
                  height: 100%;
                  width: 100%;
                  background-color: #E1D9D1;
                  color: BLACK;
             }
        </style>
    </head>
    <body>

        <h1 id="Ab" >~AUTOBIOGRAPHIES~&#x1F4DD</h1>

        <div class="row">

          <div class="column">
            <img src="outlookBg/Images/Sonu.jpeg" alt="Book" style="width:55%">
          </div>

          <div class="column">
            <img src="outlookBg/Images/Nm.jpg" alt="Book" style="width:50%">
          </div>

          <div class="column">
            <img src="outlookBg/Images/Mk.jpg" alt="Book" style="width:55%">
          </div>

        </div>

        <div class="row">

          <div class="column">
            <img src="outlookBg/Images/SM.jpeg" alt="Book" style="width:55%">
          </div>

          <div class="column">
            <img src="outlookBg/Images/WS.jpg" alt="Book" style="width:55%">
          </div>

        </div>
    </body>
</html>