<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title> Confirmation Page</title>
    <link rel="stylesheet" href="Confirm.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>

    </style>
</head>

<body>

<div class="columns">
    <div class="column main"><input name="form_key" type="hidden" value="PefvQbePmuX6e2ZN">
        <div id="authenticationPopup" data-bind="scope:'authenticationPopup'">
            <div class="success-extras">
                <i class="far fa-check-circle"></i>
                <p>Order Confirmed,Thank You!</p>
                <p class="success-lrg">
                    Sit back, relax or even better...go for a run! We'll take care of the rest.
                </p>
                <hr class="divider">
            </div>
        </div>
        <div class="checkout-success">
            <p>Your order # is: <span>000166954</span>.</p>
            <p>We'll email your tracking info.</p>
            <div class="actions-toolbar">
                <div class="primary">
                    <a class="action primary continue" th:href="@{'/home'}">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>