<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="outlookBg/Common.css">
        <style>
               body {
                  height: 100%;
                  width: 100%;
                  background-color: #E1D9D1;
                  color: BLACK;
             }
        </style>
    </head>
    <body>

        <h1 id="Ez">--ENTERTAINMENT ZONE&#x1F60E--</h1>

        <div class="row">
          <div class="column">
            <img src="outlookBg/Images/lp.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/Cr.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/Venom.jpg" alt="Book" style="width:45%">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img src="outlookBg/Images/Gl.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/End.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/IT.jpg" alt="Book" style="width:45%">
          </div>
        </div>
        

    </body>
</html>